#icon-container {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

.icons:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

a:nth-child(3){
    border-right: solid 1px var(--border-muted);
    padding-right: 1rem;
}