#topic-card {
    width: 370px;
    height: 220px;
    padding: 1rem;
    border-radius: .85rem;
    background-color: var(--bg);
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    box-shadow: var(--shadow);
    transition: 0.2s ease-in-out;
}

#topic-card:nth-child(2) {
    width: 545px;
}

#topic-card:hover {
    background-color: var(--bg-light);
}

#topic-card p {
    font-size: 20px;
    color: var(--text-muted);
}

#topic-card h3 {
    padding-bottom: 1rem;
    font-size: 30px;
}

#topic-card h4 {
    color: var(--info);
    height: 1rem;
    border-radius: .4rem;
    margin: .5rem;
}

#title-role {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}